html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: darkslategrey;
    color: lightgrey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}