html {
    height: 100%;
    font-size: 1.3em;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: darkslategrey;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-grow: 1;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}